.section_3{

}
.row{
    margin: 0px;padding: 0px;
}
.card-img-top{
    border-radius: 20px;
}
.card{
    border-radius: 20px;
}

.section_3 .row .col-md-6{
    max-width: 400px;
}

.btns {
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 2em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
   }
   
   .btns .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 2em;
    right: 0.3em;
    transition: all 0.3s;
   }
   
   .btns:hover .icon {
    width: calc(100% - 0.6em);
   }
   
   .btns .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
   }
   
   .btns:hover .icon svg {
    transform: translateX(0.1em);
   }
   
   .btns:active .icon {
    transform: scale(0.95);
   }

.btn1 {
    background: #ec95da;
    box-shadow: inset 0 0 1.6em -0.6em #ec95da;
   }
   
   .btn1 .icon {
    box-shadow: 0.1em 0.1em 0.6em 0.2em #ec95da;
   }
   .btn1 .icon svg {
    color: #ec95da;
   }

   .btn2 {
    background: #7a69d9;
    box-shadow: inset 0 0 1.6em -0.6em #7a69d9;
   }
   
   .btn2 .icon {
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7a69d9;
   }
   .btn2 .icon svg {
    color: #7a69d9;
   }

.btn3 {
    background: #6ecc8e;
    box-shadow: inset 0 0 1.6em -0.6em #6ecc8e;
   }
   
   .btn3 .icon {
    box-shadow: 0.1em 0.1em 0.6em 0.2em #6ecc8e;
   }

   .btn3 .icon svg {

    color: #6ecc8e;
   }



   .image{
    height: 300px;
    padding: 20px;
    background-color: #ffffffc3;
    background-image: url(./assets/hero-bg.png);
    background-size: 150% 130%;
    background-repeat: no-repeat;
    background-position: -50px -100px;
    top: 25px;
    right: 0;
   }
